<div class="grid p-fluid">

  <div class="col-12">
    <div class="card">
      <div class="container">
        <h5 class="title" style="margin-bottom: 10px;">Liste Contrats de {{nameUser}}</h5>
          </div>
      <p-toast></p-toast>
      <p-confirmDialog  key="positionDialog"></p-confirmDialog>
      <ngx-spinner [name]="'spinnerLoader'" bdColor="rgb(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
      [fullScreen]="true">
      <p style="color: white"> Chargement... </p>
    </ngx-spinner>
      <p-table [value]="contratList" dataKey="title" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th pSortableColumn="contrat.title">Titre</th>
            <th>Date de création</th>
            <th><p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="openAddContrat()"></p-button></th>
           
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contrat let-expanded="expanded">
          <tr>
            <td>
              <button type="button" pButton pRipple [pRowToggler]="contrat"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td style="min-width: 12rem;">{{contrat.title}}</td>
            <td>{{contrat.creation_date}}</td>
            <td>
              <div class="flex">
                  <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                    (click)="showDetailsContrat(contrat)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="deleteContrats(contrat.id, $event)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-c>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="c.documents" dataKey="_id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
          <tr>
            <th style="width: 20%;"></th>
            <th pSortableColumn="contrat.title">Titre </th>
            <th>Type</th>
            <th></th>
            <th>
              <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="openModal(c.id)"></p-button>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-doc>
          <tr>
            <td></td>
            <td><a href="#" (click)="openUrl($event,doc.path)">{{ doc.titre }}</a></td>


            <td>{{doc.type}}</td>
            <td>
              <div class="flex">
                <p-button icon="pi pi-trash" [rounded]="true" [text]="true" severity="danger"
                  (click)="deleteDocument(doc.id, $event)"></p-button>
              </div>
            </td>
            <td></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Aucun documents.</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <div class="border-round border-1 surface-border p-4" *ngIf="skeleton">
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Ajout de nouveau(x) document(s)" [(visible)]="ajouterDoc" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false"
  [resizable]="false">
  <h5>Titre du document</h5>
  <input type="text" pInputText [(ngModel)]="titre">
  <br>
  <p-fileUpload [showUploadButton]="false" cancelLabel="Annuler" chooseLabel="Choisir un fichier" name="demo[]"
    (onSelect)="getFileUpload($event)" (onUpload)="onUpload()" [multiple]="true" accept="image/*,application/pdf"
   >
    <ng-template let-mail pTemplate="file"></ng-template>
    <ng-template pTemplate="content">
      <div class="grid" *ngFor="let file of f">
        <div class="col-1"></div>
        <div class="col-9">
            <li>{{ file.name }} - {{ file.size }} bytes</li>
        </div>
        <div class="col-2">
          <i class="pi pi-times" (click)="removeFile(file)"></i>
        </div>
      </div>
      <div class="text-center">
        <p-button icon="pi pi-check" label="Upload" (click)="onUpload()" severity="info"></p-button>
      </div>
    </ng-template>
  </p-fileUpload>
</p-dialog>

<p-dialog [(visible)]="detailsContrat" header="A propos du contrat {{bodyContrat.title}}" [modal]="true"
  [style]="{width:'40%'}" position="top">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
      <div class="p-formgrid grid">
        <div class="field col">
          <h5 htmlFor="Titre">Titre</h5>
          <input pInputText id="Titre" type="text" [(ngModel)]="bodyContrat.title" />
        </div>
        <div class="field col">
          <h5 htmlFor="Date de création">Date de création</h5>
          <input pInputText id="Date de création" type="date" [(ngModel)]="bodyContrat.creation_date" />
        </div>
      </div>
      <!-- <div>
        <h5>Utilisateur</h5>
        <input type="text" pInputText [(ngModel)]="bodyContrat.user_id">
      </div> -->
      <br>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Modifier" (click)="updateContrat()"
      [disabled]="disableUpdate"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="checkAddContrat" header="Nouveau contrat" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width:'30%'}" position="top">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
      <div>
        <h5 htmlFor="Nom">Titre</h5>
        <input pInputText id="Nom" type="text" [(ngModel)]="contratBody.title" placeholder="Titre" />
        <h5 htmlFor="Date de création">Date de création</h5>
        <p-calendar [inline]="true" [(ngModel)]="contratBody.creation_date" [iconDisplay]="'input'" [showIcon]="true"
          [dateFormat]="'dd/mm/yy'"></p-calendar>
      </div>
      <br>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Ajouter" (click)="createContrat()"
      [disabled]="disableUpdate"></button>
  </ng-template>
</p-dialog>