<div class="grid p-fluid">
 
  <div class="col-12">
    <div class="card">
      <h5 class="title">Liste des cartes</h5>
      <br>
      <div class="container">
        <div class="title">
          <app-search
          (searchs)="searchCard($event)"
          [keyword]="keyWord"
          ></app-search>
        </div>
        <p-button label="Ajouter" icon="pi pi-plus" severity="success" (click)="showModalCreateUser()"></p-button>
      </div>
      <br>
      <p-toast></p-toast>
      <p-confirmDialog key="positionDialog"></p-confirmDialog>
      <ngx-spinner [name]="'spinnerLoader'" bdColor="rgb(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box"
      [fullScreen]="true">
      <p style="color: white"> Chargement... </p>
    </ngx-spinner>
      <p-table [value]="cartes" dataKey="first_name" [expandedRowKeys]="expandedRows" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10%;">Titre </th> 
            <th style="width: 7%;">Image</th>
            <!--th style="width: 3%;">Status</th-->  
            <th style="width: 10%;">Client</th>
            <th style="width: 5%;">Status</th>
            <th style="width: 7%;"></th>
             
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-carte let-expanded="expanded">
          <tr>
          
            <td> {{ carte.titre }}</td>
            <td> <a  href="#" (click)="openUrl($event,carte.path)"><img  [src]="this.pathUrl+carte.path" width="120" height="75" alt="image"></a> </td>
            <td> {{ carte.user.first_name }} {{carte.user.last_name }}</td>
            <td>  <i class="pi" [ngClass]="{
              'text-green-500 pi-check-circle': carte.is_active === 1,
              'text-red-500 pi-times-circle': carte.is_active === 0
            }"></i> 
            </td>
             
             
            <td>
              <div class="flex">
                <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-info mr-2"
                  (click)="getDetailsCarte(carte.id)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="deleteCard(carte.id, $event)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-c>
          <tr>
            <td colspan="7">
              <div class="p-3">
                <p-table [value]="c.contrats" dataKey="_id" responsiveLayout="scroll">
                  <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="contrat.title">Titre <p-sortIcon field="contrat.title"></p-sortIcon></th>
            <th>Date de création</th>
            <th></th>
            <th>
              <p-button icon="pi pi-plus" [rounded]="true" [text]="true" (click)="openAddContrat(c.id)"></p-button>
            </th>
          </tr>
        </ng-template>
       
      </p-table>
    </div>
    </td>
    </tr>
    </ng-template>
    </p-table>
    <br>
    <app-pagination *ngIf="cartes.length"
    [dataNumberShow]="dataNumberShow"
    [offset]="offset"
    [limit]="limit"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (changePage)="changePage($event)"
    (getPageNumbers)="getPageNumbers()"
    >
  
    </app-pagination>
    <div class="border-round border-1 surface-border p-4" *ngIf="skeleton">
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
      <div class="my-2">
        <p-skeleton width="100%" height="4rem"></p-skeleton>
      </div>
    </div>
  </div>
</div>

<p-dialog [(visible)]="checkDetailsCard" header="A propos de la carte {{detailCarte.titre}}" [modal]="true"
  [style]="{width:'40%'}" position="top">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
    
      <div>
        <h5>Titre</h5>
        <input type="text" pInputText [(ngModel)]="detailCarte.titre" >
        <h5>Nom du client</h5>
        <input type="text" pInputText [value]="detailCarte.user.first_name +' '+detailCarte.user.last_name" [disabled]="true" >
        <br>
        <br>
        <!--p-dropdown 
        [disabled]="isDropdownDisabled"
        [options]="users"
        [(ngModel)]="selectedUser"
        optionLabel="first_name"
        [filter]="true"
        filterBy="first_name"
        [showClear]="true"
        placeholder="Selectionner un client"
        emptyFilterMessage="Aucun résultat trouvé">
        
       
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <img 
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              style="width: 18px" />
            <div>{{ selectedOption?.first_name }}</div>
          </div>
        </ng-template>

        
    
       
        <ng-template let-country pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img 
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              style="width: 18px" />
            <div>{{ country.first_name }}</div>
          </div>
        </ng-template>
        
      </p-dropdown--> 
       
         
         
         
          <p-fileUpload [showUploadButton]="false" cancelLabel="Annuler" chooseLabel="Choisir un fichier" name="demo[]"
          (onSelect)="getFileUpload($event)" (onUpload)="onUpload()" (onClear)="onCancel()" [multiple]="true" accept="image/*"
          [disabled]="isFileUploaded"
        >
            <ng-template let-mail pTemplate="file"></ng-template>
            <ng-template pTemplate="content">
              <div class="grid" *ngFor="let file of f">
                <div class="col-1"></div>
                <div class="col-9">
                    <li>{{ file.name }} - {{ file.size }} bytes</li>
                </div>
                <div class="col-2">
                  <i class="pi pi-times" (click)="removeFile(file)"></i>
                </div>
              </div>
              <div class="text-center"> 
                <a  href="#" (click)="openUrl($event,detailCarte.path)"><img  [src]="this.pathUrl+detailCarte.path" width="120" height="75" alt="image"></a>
              </div>
              <br>
            
              <div class="text-center">
                <h5>Valid&eacute; / Desactiv&eacute;</h5>
                <p-inputSwitch [ngModel]="checked" (ngModelChange)="oneCheckValidUpdate($event)"></p-inputSwitch> 
              </div>
              <br>
              <div class="text-center">
                <p-button icon="pi pi-check" label="Modifier" (click)="onUploadUpdate()" severity="info"></p-button>
              </div>
            </ng-template>
          </p-fileUpload>
          
          <br>
       
        
      </div>
      <br>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="modalCreateUser" (onHide)="confirmCloseDialog()" [header]="'Nouvelle carte ' + userCardName" [modal]="true" [style]="{width:'40%'}" position="top">
  <ng-template pTemplate="content">
    <div class="col-12 md:col-12">
    
      <div>
        <h5>Titre de la carte</h5>
        <input type="text" pInputText [(ngModel)]="carteBody.titre" >
       
        <br>
        <br>
        
        <p-dropdown 
        *ngIf="isVisible"
        [options]="users"
        [(ngModel)]="selectedUser" 
        [filter]="true"  
        filterBy="first_name,last_name"
        [filterFields] ="['first_name','last_name']"
        optionLabel="first_name"
        [showClear]="true"
        placeholder="Selectionner un client"
        (onFilter)="handleFilter($event)"
        emptyFilterMessage="Aucun résultat trouvé">
        
       
        <ng-template pTemplate="selectedItem" let-selectedOption>
          <div class="flex align-items-center gap-2">
            <img 
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              style="width: 18px" />
            <div>{{ selectedOption?.first_name }} {{ selectedOption?.last_name }}</div>
          </div>
        </ng-template>
    
       
        <ng-template let-clients pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img 
              src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
              style="width: 18px" />
            <div>{{ clients.first_name }} {{ clients.last_name }}</div>
          </div>
        </ng-template>
        
      </p-dropdown> 

          <br>
          <br>
          <p-fileUpload [showUploadButton]="false" cancelLabel="Annuler" chooseLabel="Choisir un fichier" name="demo[]"
          (onSelect)="getFileUpload($event)" (onUpload)="onUpload()" (onClear)="onCancel()" [multiple]="true" accept="image/*"
          [disabled]="isFileUploaded"
           >
            <ng-template let-mail pTemplate="file"></ng-template>
            <ng-template pTemplate="content">
              <div class="grid" *ngFor="let file of f">
                <div class="col-1"></div>
                <div class="col-9">
                    <li>{{ file.name }} - {{ file.size }} bytes</li>
                </div>
                <div class="col-2">
                  <i class="pi pi-times" (click)="removeFile(file)"></i>
                </div>
              </div>
            
              <div class="text-center">
                <h5>Valider / Desactiver</h5>
                <p-inputSwitch [ngModel]="checked" (ngModelChange)="oneCheckValid($event)"></p-inputSwitch>
              </div>
              <br>
              <div class="text-center">
                <p-button icon="pi pi-check" label="Valider" (click)="onUpload()" severity="info"></p-button>
              </div>
            </ng-template>
          </p-fileUpload>
          
          <br>
        
      </div>
      <br>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    
  </ng-template>
</p-dialog>

